[submodule "calculator-simple"]
	path = calculator-simple
	url = https://github.com/kaftanenko/edu.apps.calculator-simple.git
[submodule "shopping-list"]
	path = shopping-list
	url = https://github.com/kaftanenko/edu.apps.shopping-list.git
